# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.sln

# Rider / IntelliJ
.idea/
*.iml

# Logs
*.log

# Build files
Build/*

# User settings
*.user
*.DotSettings.user

# OS files
.DS_Store
Thumbs.db